[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mixedMem"]
	path = mixedMem
	url = https://github.com/ysamwang/mixedmem
	shallow = true
	registered = true
